body {
	background-color : #d294a1;
	margin: 0;
	padding: 60px 0 0;
}
img#banner {
    width:650px;
    height:338px;
}
@media (min-width: 900px) {
	body {
		padding: 0 0 0 250px;
	}
}
ol.checklist { list-style-type: lower-alpha; }
ol.checklist li:before { content: "\2610\0020"; color: red; }
ol.checklist li.checked:before { content: "\2611\0020"; color: green; }
ul.menu {
	align-items: center;
	background-color: #555;
	box-shadow: 3px 3px 5px #555;
	display: flex;
	height: 50px;
	list-style-type: none;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
}
ul.menu a {
	color: #ddd;
	text-decoration: none;
}
ul.menu a:hover { color: #2ecc40; }
ul.menu > li { margin-left: 10px; }
ul.menu > li > a > img:nth-child(2) { display: none; }
ul.menu > li:nth-child(2) { display: none; }
ul.menu > li:nth-child(3) { display: none; }
ul.menu > li:nth-child(4) { margin-left: auto; }
ul.menu > li:last-child { margin-right: 10px; }
@media (min-width: 400px) {
	ul.menu > li:nth-child(2) { display: block; }
}
@media (min-width: 900px) {
	ul.menu {
		flex-direction: column;
		height: 100%;
		justify-content: center;
		left: 0;
		width: 250px;
	}
	ul.menu > li > a > img:first-child { display: none; }
	ul.menu > li > a > img:nth-child(2) {
		border-radius: 50%;
		display: block;
	}
	ul.menu > li {
		font-size: larger;
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}
	ul.menu > li:nth-child(3) {
		display: block;
		margin-bottom: 20px;
		font-size: small;
	}
	ul.menu > li:nth-child(4) { margin-left: 0; }
	@media (min-height: 500px) {
		ul.menu > li:last-child { margin-bottom: 70px; }
		ul.menu > li:nth-child(3) { margin-bottom: 40px; }
	}
}
footer {
    background-color: #fff; /* requisito item n) */
    border: 1px solid #ccc;
    border-radius: .2em;
    margin: 5px;
    padding: 5px;
}
footer > ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    text-align: center;
}
footer > ul > li { display: inline-block; }
footer > h5 {
    font-size: small;   /* requisito item n) */
    font-weight: bold;  /* requisito item n) */
    margin: 5px;
    text-align: center; /* requisito item n) */
}
footer > p {
    font-size: small;
    margin: 5px;
    text-align: center;
}
section.corpo { /* requisito item m) - justificado, com margem e cor preta */
    color: black;
    margin: 15px;
    text-align: justify;
}
header {
    display: flex;
    justify-content: center;
    padding: 10px;
}
header > a > img {
    border: 1px solid black;
    max-width: 100%;
}
        /*CONFIGURAÇÃO DA PÁGINA DE COMPRA*/
textarea {
    box-shadow: 3px 2px 8px 1px;
    border-color: #666;
    height: 150px;
    width: 500px;
    font-size: 12pt;
}
input {
    border-style: solid;
    border-color: #666;
}

        /*CONFIGURAÇÃO DOS BOTÕES*/
#botoes {
    display: inline-block;
    font-weight: 900;
    font-size: 15px;
}
button#comprar {
    margin-left: 200px;
    margin-top: 30px;
    border-radius: 40px;
    height: 35px;
    width: 100px;
    border-color: #666;
}
button#limpar {
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 40px;
    height: 35px;
    width: 100px;
    border-color: #666;
}
